<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Beranda</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container text-center mt-5">
        <div class="row justify-content-center align-items-center">
          <div class="col-md-12">
            <img width="220" height="220" src="https://cdn.discordapp.com/attachments/939863114667679765/1158608435173150740/4363531.png?ex=651e2f30&is=651cddb0&hm=35124506b2a8573cb0407a7607b7075d999eec740d60d60b1b97bfe4e5ad47d4&" class="img-fluid">
            <h1 class="mt-3 fw-bold">SILOGISTIK</h1>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-3">
            <div class="card bg-primary text-center">
                <div class="card-body text-light">
                    <h5 class="card-title">Gudang</h5>
                    <p class="card-text fw-bold" style="font-size: 5em;" th:text="${jumlahGudang}"></p>
                    <p class="card-text">gudang</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-primary text-center">
                <div class="card-body text-light">
                    <h5 class="card-title">Barang</h5>
                    <p class="card-text fw-bold" style="font-size: 5em;" th:text="${jumlahBarang}"></p>
                    <p class="card-text">barang</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-primary text-center">
                <div class="card-body text-light">
                    <h5 class="card-title">Permintaan Pengiriman</h5>
                    <p class="card-text fw-bold" style="font-size: 5em;" th:text="${jumlahPermintaanPengiriman}"></p>
                    <p class="card-text">permintaan pengiriman</p>
                </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="card bg-primary text-center">
                <div class="card-body text-light">
                    <h5 class="card-title">Karyawan</h5>
                    <p class="card-text fw-bold" style="font-size: 5em;" th:text="${jumlahKaryawan}"></p>
                    <p class="card-text">karyawan</p>
                </div>
            </div>
          </div>
        </div>
    </div>
</body>

</html>