<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Restock Gudang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container text-center mt-5">
        <div class="card">
            <div class="card-header d-flex justify-content-center align-items-center">
                <div class="fs-2 fw-bold">Restock Gudang</div>
            </div>
            <div class="card-body">
                <p class="card-text text-start fs-5" th:text="'Nama Gudang : ' + ${restockGudangDTO.namaGudang}"></p>
                <p class="card-text text-start fs-5" th:text="'Alamat Gudang : ' + ${restockGudangDTO.alamatGudang}"></p>
                <form th:action="@{/gudang/{idGudang}/restock-barang(idGudang=${restockGudangDTO.idGudang})}" th:object="${restockGudangDTO}" method="POST">
                    <div class="d-flex justify-content-end mb-3">
                      <button class="btn btn-primary" type="submit" name="addRow" style="text-align:right">+ Tambah Barang</button>
                    </div>
                    <table class="table table-bordered">
                        <thead class="bg-dark text-light">
                            <tr>
                                <th>#</th>
                                <th>Merk Barang</th>
                                <th>Kuantitas</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr th:each="gudangBarang, iterationStatus : *{listGudangBarang}">
                                <td th:text="${iterationStatus.count}"></td>
                                <td class="d-flex gap-2">
                                    <select th:field="*{listGudangBarang[__${iterationStatus.index}__].barang.sku}" class="form-select form-control gap-2">
                                        <div th:each="barangExisting : ${listBarangExisting}">
                                            <option th:value="${barangExisting.sku}" th:text="${barangExisting.merk}" ></option>
                                        </div>
                                    </select>
                                </td>
                                <td>
                                    <input class="form-control" type="number" th:field="*{listGudangBarang[__${iterationStatus.index}__].stok}" />
                                </td>
                            </tr>
                        </tbody>
                      </table>
                    <a href="/" class="btn btn-danger" type="submit">Batal</a>
                    <button class="btn btn-primary" type="submit">Simpan</button>
                </form>
            </div>                    
        </div>
    </div>
</body>

</html>