<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <object th:insert="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:insert="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Tambah Barang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="card m-4 p-4">
            <div class="card-body">
                <div class="text-center">
                    <img src="https://img.icons8.com/external-others-inmotus-design/100/external-Done-accept-others-inmotus-design-2.png"  alt="done">
                </div> 
                <div class="text-center mt-3">
                    <h2 th:text="'Barang dengan SKU ' + ${sku} + ' berhasil ditambahkan.'"></h2>
                </div>
                <div class="text-center m-3">
                    <a type="button" class="btn btn-md btn-primary" href="/">Kembali ke beranda</a>
                </div>
            </div>
        </div>
    </div>
</body>

</html>